html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/*Auth Page*/
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  justify-content: center;
  align-items: center;
}

.auth-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-text{ 
  border: none;
  outline: none;
  border-bottom: 1px solid #CACACA;
  width: 400px;
  margin: 10px;
  height: 30px;
  
  padding: 5px 1rem;
}
.btn{
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  height: 40px;
  width: 150px;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: '800';
  color: #2D3436;
  text-align: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

/*Header*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #A7CBD9;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-btn {
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  margin: 1rem;
  width: 50px;
  height: 30px;
  color: #2D3436;
  font-weight: 600;
  transition: 0.2s ease-in;
}

.header-btn:hover {
  background-color: #24A6D9;
}

/*About Page*/
.pokemon-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  margin: 100px 20px;
  padding: 1rem;
  height: 200px;
  width: 100px;
  border: 2px solid #24A6D9;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Auth Buttons*/

.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.google-wrapper {
  cursor: pointer;
  width: 250px;
  height: 35px;
  background-color: #FF6347;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}


.auth-btn {
  width: 200px;
  height: 35px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  background-color: inherit;
  color: #202020;
}

.auth-error {
  color: #FF6347;
  line-height: 1px;
  font-size: 10px;
  text-align: center;
}